body { 
    background: #777;
    width: 960px;
    margin: 20px auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}


header {
    background-color: #ebebeb;
    border: hidden;
    padding: 35px;
    color: #777;
    text-align: center;

}

nav {
    background-color: #ebebeb;
    border: hidden;
    margin: 10px auto 20px auto;
    padding: 35px;
    color: #777;
    text-align: center;
}

section {
    background-color: #ebebeb;
    border: hidden;
    float: left;
    width: 495px;
    height: 275px;
    margin-right: 17px;
}
article {
    background-color: #777;
    width: 450px;
    overflow: auto;
    border: hidden;
    margin: auto;
}

.fontArticle {
    background-color: #777;
    color: #ebebeb;
}

p {
    background-color: #ebebeb;
    color: #777;
    width: 375px;
    border: hidden;
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 15px;
}

aside {
    background-color: #ebebeb;
    border: hidden;
    float: left;
    width: 448px;
    height: 275px;
    margin-bottom: 12px;
}

footer {
    clear: both;
    background-color: #ebebeb;
    border: hidden;
    margin-top: 20px;
    padding: 31px;
    color: #777;
    text-align: center;
}