body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    background: #777;
    width: 960px;
    margin: 20px auto;
}

header {
    background-color: #ebebeb;
    border: hidden;
    padding: 35px;
    color: #777;
    text-align: center;

}

nav {
    background-color: #ebebeb;
    border: hidden;
    margin: 10px auto 20px auto;
    padding: 35px;
    color: #777;
    text-align: center;
}

section {
    background-color: #ebebeb;
    border: hidden;
    float: left;
    width: 495px;
    height: 300px;
    margin-right: 24px;
}
article {
    background-color: #777;
    width: 450px;
    height: 200px;
    border: hidden;
    margin: auto;
}

h2 {
    background-color:#ebebeb;
    text-align: center;
    padding-top: 8px;
    color: #777;
}

h3 {
    text-align: center;
    padding-top: 8px;
    color:#ebebeb;
}

p {
    background-color: #ebebeb;
    color: #777;
    width: 400px;
    border: hidden;
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 15px;
}

aside {
    background-color: #ebebeb;
    border: hidden;
    float: left;
    width: 440px;
    height: 300px;
    margin-bottom: 24px;
}

footer {
    clear: both;
    background-color: #ebebeb;
    border: hidden;
    margin-top: 20px;
    padding: 31px;
    color: #777;
    text-align: center;
}